[2021-01-20 13:53] jappyjan opened #1 "HVAC Device"
Can you add an HVAC Device class?

[2021-01-21 10:54] dawidchyrzynski commented on #1
Sure, I will add support for HVAC within two weeks. I need to research it first.

[2021-01-31 21:39] tomakara opened #2 "availability topic in MQTT"
Hey there!
Thanks for nice library!
Could you please add possibility for setting  availability_topic in MQTT for devices? For example if a switch or sensor is temporary not working.

[2021-02-02 17:11] dawidchyrzynski commented on #2
Hi!
Sure, I will add the requested feature by the end of this week.

[2021-02-03 15:08] Sichroteph opened #3 "Wifi integration"
Thank you for this very interesting code.
Do you know a way to change the code so the board can contact home assistant with the wifi network instead of ethernet ?

[2021-02-03 15:19] dawidchyrzynski commented on #3
Hi!
There is an example showing how to integrate the library with NodeMCU that is equipped with a Wi-Fi chip. At this moment that's the only way to use Wi-Fi. Is this solution satisfying for you?

https://github.com/dawidchyrzynski/arduino-home-assistant/blob/main/examples/nodemcu/nodemcu.ino

[2021-02-03 15:24] Sichroteph commented on #3
I will dig from there, thanks. I have a arduino nano 33 iot but the code should remain essentialy the same.

[2021-02-04 09:16] Sichroteph commented on #3
It is recommended to use the WiFiNINA library with the arduino nano 33 IOT.

However, the WiFiNINA  WiFiClient seems to be different that the ESP8266WiFi since this code

`#include <WiFiNINA.h>
#include <ArduinoHA.h>

byte mac[6];
WiFiClient client;

HADevice device(mac, sizeof(mac));
HAMqtt mqtt(client, device);`

raise this error : (I paste only the beginning)
_In file included from C:\Users\Chr

[2021-02-04 10:27] dawidchyrzynski commented on #3
I will get back to you soon. I ordered nano 33 IOT to test it out on my own.

[2021-02-06 19:42] dawidchyrzynski commented on #2
Hi @tomakara
I have already released a new version of the lib (1.1.0). Feel free to test the availability feature. If you will find any issue please open a new ticket.

[2021-02-06 19:42] #2 closed

[2021-02-06 20:46] tomakara commented on #2
Thanks man, that was a lot of work. I'm just a script kiddie but it's a nice evolution in the code. Going to try it now.

[2021-02-06 21:09] dawidchyrzynski commented on #2
I had to refactor and simplify a few things in the codebase. Introducing new features in the future will be simpler for sure.

[2021-02-06 21:18] tomakara commented on #2
Works like a charm!

[2021-02-07 09:16] dawidchyrzynski commented on #3
Hi @Sichroteph

I have managed to fix all issues related to Arduino Nano 33 IoT. Feel free to use the library in your project. You can find the example code here: https://github.com/dawidchyrzynski/arduino-home-assistant/blob/main/examples/nano33iot/nano33iot.ino

[2021-02-07 09:16] #3 closed

[2021-02-07 18:16] Sichroteph commented on #3
Thank you so much. Merging your work to this project now opens very exciting opportunities in home automation 👍
https://www.okdo.com/project/bluetooth-triggered-xmas-lights/

[2021-02-08 23:13] Sichroteph commented on #3
Your nano 33 IOT update works fine.
- Is there a  sort of  mqtt.disconnect() method to properly cut off the mqtt connection ?

My issue is that BLE and Wifi doesn't seem to properly work together (I did not succeed in detecting BLE devices when Wifi is on)
So my script now activate the wifi or the BLE depending of my need. But doing this way makes the arduino be kicked by the mqtt broker for timeo

[2021-02-09 07:02] dawidchyrzynski commented on #3
There is no way to disconnect from the MQTT broker right now. I will implement this feature today.

Did you try to just disconnect from the Wi-Fi AP? HAMqtt should switch into a disconnected state when the connection is lost.

[2021-02-09 07:58] Sichroteph commented on #3
I tried indeed, my code triggers :

WiFi.disconnect();
WiFi.end();

After the sensor.setState method.
Doing so doesn't close the connection with the broker :

1612825488: New client connected from 192.168.1.150 as 34d53abd9e7c (p2, c1, k15, u'totofaki').
1612825510: Client 34d53abd9e7c has exceeded timeout, disconnecting.

Right now my only theory is that beeing kicked out prevent a further connec

[2021-02-09 09:16] Sichroteph commented on #3
I tried with a different method,  BLE.scan() instead of BLE.poll() but the issue remains. Not sure if it's due to your integration, I will try to use another MQTT one.

Here is the code :
https://pastebin.com/yJgR6Q34

The BLE and MQTT part are working very well when running independently.
However when combined mqtt.loop(); freeze the device.

[2021-02-09 12:07] Sichroteph commented on #3
I know now for sure that your integration is not in fault here.
I managed to publish MQTT packets with PubSubClient.h, and again it is working fine until BLE is turned on.

The code is here :
https://pastebin.com/W1QnCUwH

So it seems to be a hardware limit of some kind. I will wire the nano 33 iot in BLE mode to a weimos d1 mini that will trigger home assistant. That's a bit twisted to do so but

[2021-02-09 12:18] Sonusss opened #6 "MQTT credential"
Hi,

I'm trying MQTT credential specified as per your example
#define BROKER_USERNAME     "user" // replace with your credentials
#define BROKER_PASSWORD     "pass"

But seems not working this is what I get in MQTT server log:

1612873030: New connection from 192.168.1.144 on port 1883.
1612873030: Socket error on client <unknown>, disconnecting.

[2021-02-09 14:54] tomakara commented on #6
Hi Sonusss, that's not much info you provide. Have you tried to search some solution? I recommend for example this thread: https://stackoverflow.com/questions/35704632/mqtt-socket-error-on-client-unknown
Let us know if something there helped you.
T.

[2021-02-09 15:16] dawidchyrzynski commented on #6
Hi @Sonusss,

Please check your credentials. Most likely they're invalid.

You can also turn on debug mode in the library by uncommenting #define in [this file](https://github.com/dawidchyrzynski/arduino-home-assistant/blob/main/src/ArduinoHADefines.h). In order to get logs working you need to setup serial at the beginning of the setup procedure (`Serial.begin(9600);`);

[2021-02-09 15:27] dawidchyrzynski commented on #3
According to [this thread](https://forum.arduino.cc/index.php?topic=706766.0) it seems like it's not possible to use BLE and WiFi at the same time.

[2021-02-09 15:28] Sonusss commented on #6
Solved !

Shame on me...
Stupid mistake, I forgot to pass credential parameters with mqtt.begin

[2021-02-09 15:28] #6 closed

[2021-02-09 16:18] Sichroteph commented on #3
Thank you that is clear now !

[2021-02-24 19:42] LKuech opened #7 "ADD: Last Will and Testament (LWT)"
Hi,

great library. Very good work!

Is it possible, that you add the LWT function of MQTT? This way the broker will automatically set the availability back to "offline" if the device is active for some time (like Tasmota devices are able to do it).

[2021-02-24 19:45] LKuech opened #8 "ADD: Hostname support for broker address"
As far as I understand it is just possible to use the ip address so far. A Hostname support would make sense from my point of view.

[2021-02-25 10:04] EvilKeeyan opened #9 "Add support for fans (device type)"

[2021-02-25 10:05] EvilKeeyan opened #10 "Add support for lights (device type)"

[2021-02-25 10:08] dawidchyrzynski commented on #8
Hi @LKuech

Sure, I will research this and implement it soon.

[2021-02-25 10:09] dawidchyrzynski commented on #1
Hi @jappyjan

The implementation will take longer than I expected. Compiled library exceeds the flash size of the Arduino Uno. I will need to optimize the codebase a little bit.

[2021-02-25 10:36] dawidchyrzynski commented on #7
Hi @LKuech

I'm not entirely sure if it will be possible. Tasmota uses its own integration on the Home Assistant side. I don't see anything related to the device's availability in the built-in MQTT integration. I will research this and get back to you.

[2021-02-25 10:47] LKuech commented on #7
Hi.

thanks for your response.
Take a look at the "enableLastWillMessage()" function of the EspMQTTClient. They are doing this as well.
[https://github.com/plapointe6/EspMQTTClient](url)

Also this seems a good explanation:
[https://www.hivemq.com/blog/mqtt-essentials-part-9-last-will-and-testament/](url)

[2021-02-25 19:31] LKuech opened #11 "Add support to select the device_class for Sensors and Binary_Sensors"
As descripted at the HA documentation the device_class is very helpful to automatically show the device in lovelace with the right icon and values etc.
[https://www.home-assistant.io/integrations/binary_sensor/#device-class](url)

I guess this one is easy for you, as this is technically done by just setting the "device_class" (i.e. to "illuminance") inside the mqtt configuration topic.

also it wo

[2021-02-25 19:48] dawidchyrzynski commented on #11
Hi @LKuech

Please take a look at examples of the sensor and binary sensor. Both support device class as the second argument in the constructor. You can also refer to the codebase where classes are documented in more detail, e.g.: https://github.com/dawidchyrzynski/arduino-home-assistant/blob/main/src/device-types/HABinarySensor.h

[2021-03-07 08:24] #11 closed

[2021-03-08 14:38] raducatanet opened #12 "Add support for Icon type"
Hello Dawid!

Nice job with this libraries.
Can you please add support for "icon type" in actual sensors definitions.

Thank you!

[2021-03-08 14:55] raducatanet opened #13 "Add support for text message as payload"
Hello Dawid!

Can you please add a sensor that transmit text message in payload.
I find very useful to update a status of a multi-switch to display text message instead of number.
For example if outside is "sunny", "cloudy" or "rainy", or for example in errors messages. Is helpful to have a error element that display the error in text format instead of number.

Thank you in advance!

[2021-03-11 12:49] hanen1234 commented on #3
Who knows how installed library ds 1307 in arduino

[2021-03-11 13:39] dawidchyrzynski commented on #3
@hanen1234 do you mean RTC DS1307? What's your goal?

[2021-03-11 13:57] hanen1234 commented on #3
Yes RTC DS1307

[2021-03-11 13:59] dawidchyrzynski commented on #3
Integrating the RTC library shouldn't be any problem in your project as ArduinoHA is just a communication layer for Home Assistant. What do you exactly want to achieve?

[2021-03-11 14:06] hanen1234 commented on #3
In the end I want the program arduino to appear to me in the last article
showing me time and temperature.

Le jeu. 11 mars 2021 à 14:59, Dawid Chyrzyński ***@***.***> a
écrit :

[2021-03-11 14:07] hanen1234 commented on #3
So i need RTC DS1307

Le jeu. 11 mars 2021 à 15:06, hanen hammouda1997 <
***@***.***> a écrit :

[2021-03-19 08:18] raducatanet commented on #12
Thank you, Dawid!

[2021-03-19 08:28] dawidchyrzynski commented on #12
No problem. Please note that this feature is currently available on the `develop` branch. You can test the branch before it will be released as 1.2.0.

[2021-03-19 08:29] dawidchyrzynski commented on #1
Hi @jappyjan

HVAC is already available on the `develop` branch. You can test it before it will be released as 1.2.0.

[2021-03-19 08:33] raducatanet commented on #12
I'll tested in weekend and provide you a feedback. Have a nice day!

[2021-03-19 18:06] raducatanet commented on #12
Hello Dawid,

I use e ESP8266 (D1 mini module) as a WiFi module that communicate on GPIO_02 as TX pine to communicate with a Mega 2560.
I'm not a SW expert, but with the new library, the serial communication over GPIO_02 is down and the ESP is resetting. I put the stack in Exception Decoder and here is the result:

Decoding stack results
0x4021b548: HardwareSerial::write(unsigned char const*, unsi

[2021-03-20 07:33] raducatanet commented on #12
Hello again! :)

There is no problem with the library,  it seems to be a power supply issue.
I change a capacitor on the power line and now everything is working perfectly.

Thank you!

[2021-03-20 15:42] dawidchyrzynski commented on #13
Hi @raducatanet

The feature is available on the develop branch. Please note that I have refactored HASensor that is not compatible with the previous implementation (see: https://github.com/dawidchyrzynski/arduino-home-assistant/blob/develop/examples/sensor/sensor.ino).

[2021-03-21 09:37] raducatanet commented on #13
Hello Dawid!

I hope my wife is not going to kill me.
Grate job with this library.

I have tested also the text message as payload and is working perfect.
I'll implement the error messages in text , maybe next weekend, but for my System State is as I wanted to be.
You can see the red square pointing the pellets burner system state.
![image](https://user-images.githubusercontent.com/32533668/111899

[2021-03-21 12:31] dawidchyrzynski commented on #9
Hi @EvilKeeyan

I have added support for HAFan. Feel free to give it a try on the develop branch.

[2021-03-21 16:19] dawidchyrzynski commented on #13
Hi @raducatanet

Thank you for the details! I really appreciate your effort in improving this library.

OFF label in the panel is displayed due to "action" property of the HVAC. Home Assistant's documentation doesn't clearly state what's the difference between "action" and "mode". The "action" may be only produced by the device (there is no command for changing it). I suppose this was created for

[2021-03-21 23:20] dawidchyrzynski commented on #7
Hi @LKuech

This feature is already available on the `develop` branch. Please let me know if all works as expected.

[2021-03-21 23:20] dawidchyrzynski commented on #8
Hi @LKuech

This feature is already available on the `develop` branch. Please let me know if all works as expected.

[2021-03-22 12:49] Corrado-Cuneo opened #20 "Problem with Home assistant Auroconfiguration"
I use home assistant from many year.. I test your beatiful library with an Arduino Uno + Ethernet Shield... (I set IP manually and the shield connect ok to network and have correct ping response.
I'use your simple example "binary-sensor" schetch but I've no notification on home assistant of new device detected....
Any suggestion?
Is necessary additional task for connection?
Thanks!!
Corrado

[2021-03-22 13:27] dawidchyrzynski commented on #20
Hi @Corrado-Cuneo

Please confirm if your device is successfully connecting to the MQTT broker. You can enable debug mode of the library by initializing serial port (`Serial.begin(9600);`) in your `void setup() { }` and by uncommenting `#define ARDUINOHA_DEBUG` in the https://github.com/dawidchyrzynski/arduino-home-assistant/blob/main/src/ArduinoHADefines.h file.

[2021-03-22 20:48] #12 closed

[2021-03-22 21:06] raducatanet commented on #13
Hi @dawidchyrzynski

I'm using the first method, with no "ActionFeatue" in the HAHVAC constructor and rely on modes.
I managed twice to make it work as I wanted, and the Off was changing to "Heat" when mode was changed, but most of the time is still display "Off" even if the mode is "Heat".
![image](https://user-images.githubusercontent.com/32533668/112057038-6f47d800-8b61-11eb-8d8b-52fbd8782793.p

[2021-03-22 23:19] dawidchyrzynski commented on #13
I'm not able to reproduce the problem. The only thing that comes to my mind is connection problem due to quality (e.g. long range connection with access point). Can you try this example:
[code]

I tested it for a while on NodeMCU and ESP-01 and all works perfectly fine.

[2021-03-22 23:21] dawidchyrzynski commented on #13
You can also enable debug mode of the library by uncommenting `#define ARDUINOHA_DEBUG` in the https://github.com/dawidchyrzynski/arduino-home-assistant/blob/main/src/ArduinoHADefines.h file. It will tell us if connection with MQTT broker is fine.

[2021-03-22 23:49] Corrado-Cuneo commented on #20
Thanks!!! I've enable debug...
and I see message like this "Broker communication error"
In the Mosquito broker configuration I try to set:
anonymous: true (default is false)

And the log change to:
Connected to the broker
Publishing message with topic: homeassistant/binary_sensor/0010fa6e384a/input/config, payload length: 187
Publishing message with topic: homeassistant/binary_sensor/0010fa6e384a/

[2021-03-23 10:14] dawidchyrzynski commented on #20
Hi @Corrado-Cuneo

Which version of MQTT integration do you use?

Please double-check if you have this option turned on:
<img width="948" alt="Zrzut ekranu 2021-03-23 o 11 10 39" src="https://user-images.githubusercontent.com/7567202/112130266-9a194700-8bc8-11eb-9bf9-3960543215bf.png">

You can also check if Home Assistant is able to track MQTT messages by using "Listen to a topic" feature from th

[2021-03-23 12:25] #1 closed

[2021-03-23 12:25] #7 closed

[2021-03-23 12:26] #8 closed

[2021-03-23 12:26] #9 closed

[2021-03-23 12:26] #13 closed

[2021-03-23 17:24] raducatanet commented on #13
Hello @dawidchyrzynski,

thank you for your support and work.
I have try the SW from your post. The only difference is the "mqtt.begin(BROKER_ADDR, mqtt_user, mqtt_password);".
I also activate the debug. All seems to be OK:

Initializing ArduinoHA
Server address: 192.168.123.44:1883
Connecting to the MQTT broker... Client ID: 840d8e8c8407
Connected to the broker
Publishing message with topic: home

[2021-03-23 23:44] Corrado-Cuneo commented on #20
Hi!!
I've check you suggestion:
![MQTT Version](https://user-images.githubusercontent.com/81166618/112231305-c5d31600-8c36-11eb-804d-928c5576dea5.JPG)

![image](https://user-images.githubusercontent.com/81166618/112231379-e4391180-8c36-11eb-9a9c-048754c41893.png)

![image](https://user-images.githubusercontent.com/81166618/112232432-d71d2200-8c38-11eb-8ce0-99b5fccef61c.png)

If I set Anonimous=tru

[2021-03-25 21:09] netixx opened #22 "Different prefix for discovery and sensor data"
Hello,

Most of the mqtt implementation I use (namely esphome) use a different prefix for the discovery topic (usually `homassistant`) and sending the data (usually, the name of the device).

I have a project in which I cannot use esphome (4G/LTE uplink, which is not supported yet), and I found that this lib covers a lot of my basis.

Is there any way to configure a different prefix for discovery

[2021-03-26 06:06] dawidchyrzynski commented on #22
I am not entirely familiar with this concept. At this moment it's not supported. Can you explain why topics related to sending data don't use `homeassistant` prefix? It would be also nice if you can provide me more details about your use case so I can get a better understanding of your needs. From my perspective, you don't need to care about topics as they are generated automatically for all devic

[2021-03-26 06:59] dawidchyrzynski commented on #20
It looks like a problem with the network or mosquito, but I'm not 100% sure. Some people reported similar behavior in this here: https://github.com/eclipse/mosquitto/issues/523

Here are some ideas that may help:
* Use a different Ethernet shield (I mean the same model but a different device). The problem may be related to hardware/client ID
* Set the static IP address in `void setup()` instead of

[2021-03-26 08:10] netixx commented on #22
I don't know exactly the reason why projects like esphome do this. I guess the goal is to have a different topic for signalization and actual data.

The reason why I discovered this, is that I am running an mqtt configuration with a bridge between two brokers. At the moment, I am using mapping of prefix. In the config payload, the library is sending the prefix in the json payload, however, because

[2021-03-26 23:01] Corrado-Cuneo commented on #20
I've install a new instance of Homeassistant on RPI....
I've set static IP on my sketch...
I load the new version of the library (1.20)...
Binary sensor OK!!!
In the weekend I test the other sketch and mixed sensor and switch...
Thanks for all!!! Usefull library!!

[2021-03-27 10:19] #20 closed

[2021-03-29 21:27] dawidchyrzynski commented on #22
I still don't see any use case for having two different prefixes. The current implementation uses different topics for each operation. The structure of topics is `[PREFIX]/[DEVICE TYPE]/[DEVICE ID]/[UNIQUE_ID/[TOPIC]`. Example topics produced by the library:
- `homeassistant/sensor/0010fa55444a/temperature/config` - configuration of HASensor is published under this topic
- `homeassistant/sensor/00

[2021-03-29 21:35] dawidchyrzynski commented on #22
What MQTT bridge do you use?

[2021-03-29 21:43] dawidchyrzynski commented on #22
Ok, I think I see what you're going to achieve. If the above example with two different prefixes is fine then I can implement this feature. Please note that the "data" prefix" will be applied to commands and availability topics as well. Is that fine?

[2021-03-29 21:44] dawidchyrzynski opened #23 "Add support for covers"

[2021-03-29 22:50] Corrado-Cuneo opened #24 "Send analog control fron HA to Arduino"
Hello!!
I need to send a value from HA to Arduino... like a speed regulation or light regulation, a variable in a range (like a regulation...)
I need something like your fan speed regulation but with continue value in a range...
Is there something that can I use?
Thanks to all!!
Corrado

[2021-03-30 06:43] netixx commented on #22
I agree with you, this is not required to function properly, I could bridge the "homeassistant" topic without remapping, and it would work.

What you suggest is exactly what other libs do, and would be great. To retain retro-compatibility, `[YOUR PREFIX]` could default to the current `discovery_prefix`.

My suggestion was more to allow a different prefix to have the same behavior as other homeassi

[2021-04-01 13:59] gmarjano1975 opened #25 "Multiple Sensors (NodeMCU)"
Hi,

I am trying to create a device with multiple sensors. I got a test sketch wich is running.
MQTT.fx shows two "config"-Topics and periodically published two "state" topics:

- homeassistant/sensor/ecfabc594575/mq2/config
[code]
- homeassistant/sensor/ecfabc594575/mq7/config
[code]

Every two seconds the state-topic is published:
- homeassistant/sensor/ecfabc594575/mq2/state
- homeassistant/sen

[2021-04-01 19:38] netixx opened #26 "Suscribing to a custom topic"
Hello,

For my use case (which looks like [this](https://esphome.io/components/deep_sleep.html)), I want to subscribe to a custom topic and react accordingly.

Since we already provide the necessary parameters to HAmqtt, I wanted to use this object to subscribe to the topic with a custom function to execute upon reception of the message.

What would be the recommended way to do this with this libr

[2021-04-01 22:00] dawidchyrzynski commented on #25
Hi @gmarjano1975,

Most likely problem is caused by this line `mq2.setDeviceClass("None");`. Home Assistant requires "device class" to be one of the values listed here: https://www.home-assistant.io/integrations/sensor/

If you don't need to set class just remove this line. It's "none" by default.

[2021-04-01 22:02] dawidchyrzynski commented on #26
Hi @netixx,

You can subscribe to any topic using `bool subscribe(const char* topic)` method from HAMqtt class, but I just realized it's not possible to register a callback for receiving messages. I will fix this soon.

[2021-04-01 22:03] dawidchyrzynski commented on #24
Hi @Corrado-Cuneo,

Seems that Home Assistant is able to generate custom MQTT messages. I will research this and get back to you soon.

[2021-04-04 20:53] gmarjano1975 commented on #25
Hi Dawid,

thanks a lot. That helped. I removed `mq2.setDeviceClass("None");` and now it works.

Best regards
Goran

[2021-04-04 22:26] Corrado-Cuneo commented on #24
Thanks!!!
I think that a similar "fans control" (with possibility to set value and not only low-medium-hight)... or light control can solve my issue...
I need to save the date in arduino var and use in my schetc
Excuseme for
bad english!!

[2021-04-05 13:14] gmarjano1975 commented on #25
Hi Dawid,

maybe you got an idea why my ``onSwitchStateChanged`` is called after a restart.
[code]

After a reset/reboot, the MQTT.fx shows one retained message where the switch is off.
After some ms I got a message with the state = TRUE, but I don't know why and where it comes from.

I would only expect the first OFF-message. And when I hit the switch-Button in HA, the ON-message should arrive.
M

[2021-04-06 16:03] dawidchyrzynski commented on #25
If you want to use a switch with the retained flag you need to set retain mode for the switch by calling `cal.setRetain(true)`.

Regarding debug flag. How do you set it? Try my instructions described here: https://github.com/dawidchyrzynski/arduino-home-assistant/issues/20#issuecomment-804060325

[2021-04-07 16:06] gmarjano1975 commented on #25
Hi Dawid,

actually I did not want a retained message for the switch. I guess I had it configured retained in the first place. And my test was to click on the switch in home assistant -> First message and Mosquitto stored it.
I deleted the retained topic in Mosquitto and configured the switch without retain. Now it works. After a restart of my wemos
there is no "ON" message.

Debugging worked afte

[2021-04-07 16:06] #25 closed

[2021-04-09 10:03] Corrado-Cuneo opened #27 "multi-state-button -- HA autoconfiguration issue"
Hello!!!
I've test the example multi-state-button, I've this issue:
The HA Autoconfiguration detect and add the Arduino correctly but not the botton.....
Any idea?
Thanks to all!!
Corrado

[2021-04-10 13:30] dawidchyrzynski commented on #27
Hi @Corrado-Cuneo

Triggers are not displayed in the HA panel (that's due to HA design). You can access the button's states in the automation's editor (e.g. try to add some automation, select your device and you should see triggers in the dropdown).

[2021-04-12 20:03] dawidchyrzynski commented on #26
Hi @netixx

This feature is available on the develop branch. You can check example here: https://github.com/dawidchyrzynski/arduino-home-assistant/blob/develop/examples/mqtt-events/mqtt-events.ino

[2021-04-12 21:50] dawidchyrzynski commented on #22
Hi @netixx

This feature is implemented and will be released soon. You can check the example here: https://github.com/dawidchyrzynski/arduino-home-assistant/blob/develop/examples/mqtt-advanced/mqtt-advanced.ino

[2021-04-12 21:58] dawidchyrzynski commented on #24
Hi @Corrado-Cuneo

I have made a couple of changes that will allow you to handle custom MQTT messages. They are available on the `develop` branch and will be released soon. You can check the subscription&publishing example here: https://github.com/dawidchyrzynski/arduino-home-assistant/blob/develop/examples/mqtt-advanced/mqtt-advanced.ino

You can achieve your goal by adding a new helper, create a

[2021-04-12 21:58] #27 closed

[2021-04-16 19:01] dawidchyrzynski opened #30 "Home Assistant 2021.4.5 - MQTT upgrade"

[2021-04-16 19:01] dawidchyrzynski opened #31 "Implement onBeforeStateChanged callback in HASwitch"

[2021-04-17 07:18] dawidchyrzynski opened #32 "Separate uniqueId from name"

[2021-04-17 18:06] #32 closed

[2021-04-17 18:06] #31 closed

[2021-04-17 18:07] #30 closed

[2021-04-17 18:07] #26 closed

[2021-04-17 18:07] #24 closed

[2021-04-17 18:07] #23 closed

[2021-04-17 18:07] #22 closed

[2021-05-12 16:12] mrunmaydarpan opened #40 "add setIcon support for binary_sensor"

[2021-05-30 17:50] sanko78 opened #42 "MQTT message sending error?"
Hi!
There are two devices that are ESP32 controlled and have sensors on them (Radar, temperature / humidity, LUX etc).
With a previous "home-assistant-integration" library, HA recognized the sensors well and I also received data from them.

"homeassistant / sensor / device MAC address / lux / value"

I upgraded to the "arduino-home-assistant-main" library because the previous version did not inclu

[2021-07-07 14:40] brainrecall opened #44 "Add device class and icons for covers"
Hi, awesome library that will save me a bunch of time. I'm creating a garage door controller and it would be awesome if you were to add the `setDeviceClass()` and `setIcon()` methods to `HACover` like you have for the `HASensor`. Is that possible?

[2021-07-09 16:48] obsy opened #45 "Typo in setUniqueId"
Hi, typo in https://github.com/dawidchyrzynski/arduino-home-assistant/blob/main/src/HADevice.cpp#L93

Function should return false if uniqueId is not set.

[2021-08-03 17:56] tremme opened #46 "dht sensors problem"
hello I would like to put 7 sensors dht then 14 sensors in has between temperature and humidity
but if I exceed 8 sensors it does not recognize the device in the home assistant
how can it be solved ??
is there a limit on the number of sensors ??

[2021-08-04 10:37] incaseoftrouble opened #47 "Position / Tilt and device class support for Cover"
Covers can optionally support setting position & tilt and support the `device_class` field in HA.

This would need four changes:
 * optional enum for the device class in the constructor (there is a fixed list of supported classes)
 * optional features for supporting position and/or tilt
 * callbacks for position / tilt set by HA
 * `setTilt`, `setPositionAndTilt` methods

I can try to add these th

[2021-08-04 10:44] #47 closed, assigned to nobody

[2021-08-04 10:48] incaseoftrouble commented on #44
I'd propose the following changes to HACover:
 * features to indicate support of position and/or tilt
 * callbacks for position / tilt set by HA
 * `setTilt`, `setPositionAndTilt` methods

Since `icon` and `device_class` is something common to all entities (class is only supported by some, but the field exists on base entities), it might make sense to simply pull these methods to the base device t

[2021-08-17 16:05] tv4you2016 opened #48 "know which HASwitch that triggered a callback ??"
Hello.
I have the following question:
I have 2 switches pointing to the same calback

 led.onBeforeStateChanged(onBeforeSwitchStateChanged); // optional
  led.onStateChanged(onSwitchStateChanged);

  led2.onBeforeStateChanged(onBeforeSwitchStateChanged); // optional
  led2.onStateChanged(onSwitchStateChanged);

is there any way to callback
void Before Switch StateChanged (bool state, HASwitch * s)

[2021-08-28 11:52] dawidchyrzynski commented on #48
Hi @tv4you2016,

The second argument passed to the callback is instance of the HASwitch that called it. You can identify switches as following:
[code]

[2021-08-28 11:58] dawidchyrzynski commented on #48
You can also compare address of the pointer with instance of your switch. Example:

[code]

[2021-08-28 11:58] #48 closed

[2021-08-28 12:01] dawidchyrzynski commented on #46
Hi @tremme,

The only limitation is amount of available RAM. If you're using Arduino UNO for your project then you should really consider upgrading it to Arduino Mega or ESP boards. Can you provide more details about your project?

[2021-08-28 12:04] dawidchyrzynski commented on #45
Hi @obsy,

That's expected behavior. Unique ID may be set only once. Changing it at runtime is not supported.

[2021-08-28 12:04] #45 closed

[2021-10-11 13:59] zemaservice commented on #46
hello I noticed that the problem is on mosquitto
and ' as if you keep in memory that arduino and' connected
but instead it is not
so arduino tries to connect but fails
let me know if there is a control method
thank you

[2021-10-13 09:54] Sampozzo opened #49 ".setRetain(false) Doesn't Work?"
Hello,
i wrote a simple sketch to test the library but it seems that led.setRetain(false) doesn't work.
If i put offline the device and then connect to the broker all the messages are there retained.
What i'm missing?

this is my code:

`#include <Arduino.h>
#include <ArduinoHA.h>
#include <Bounce2.h>
#include <Ethernet.h>

#define LED_PIN 7
#define BROKER_ADDR IPAddress(192, 168, 4, 20)
#define B

[2021-10-13 12:31] Sampozzo commented on #49
After some investigation i found that my problem it that the Availability message is retained and it is hardcoded on HADevice.cpp at line 119.

If the device is offline and Home Assistant is rebooted, it will see the device online.
Setting to false on line 119 solved my problem.

I don't know if it is the best solution or i'm missing something.

Thank you for your work and sorry for my english.

[2021-10-30 14:47] pvoncken commented on #48
Hello,

I succesfullyt used this method on 12 Relays (or Switches).
Now I wouls like to do the same with 4 Fans.
I constructed the 4 Fans and they are available in Home Assistant.
But i don't understand how I can Write the differnt fans to differnt PIN's.
I managed to write the State and Speed of one Fan to a Digital and an Analog Pin.
But i don't understand how ik can do the same for the other Fa

[2021-11-10 12:45] pvoncken commented on #46
Hello,
I working on a project with 8 relays (or switches) 2 fans and 8 sensors.
I have the relays and 1 fan working but i have troubles with the second fan and the sensors.
Wouls you mind to share your sketch? Maybe it helps me.

[2021-11-10 12:52] tremme commented on #46
#include <Ethernet.h>

#include <ArduinoHA.h>

#include <SimpleDHT.h>

//// argomento da ascoltare   homeassistant/sensor/#

//#define LED_PIN             9

#define BROKER_ADDR         IPAddress(192,168,1,173)

#define BROKER_USERNAME     "*****" // replace with your credentials

#define BROKER_PASSWORD     "******”

unsigned long lastSentAt_dht = millis();

unsigned long lastSentAt_mqtt = millis

[2021-11-10 15:18] pvoncken commented on #46
Many Thanxs!!

[2021-11-14 15:59] Sampozzo opened #56 "state_class in sensors"
Hello,
i'm testing some sensors like DHT22 for temperature and humidity, and i noticed that on the mqtt config topic is missing "state_class":"measurement":

https://developers.home-assistant.io/docs/core/entity/sensor/#available-state-classes

Maybe you can create a function setStateClass() like you did setDeviceClass();

By now i hardcoded it in HASensor.cpp

line 167:
`size += 28;`

line 211:
[

[2021-12-16 09:46] leonardpitzu opened #59 "autoreset switch"
I have a short question - i have a switch which needs to be set by MQTT but resets itself after a while (about 2 seconds). How can i reflect back the state of the switch over MQTT so that the switch in HA shows back the OFF state.
For your information: it's an electronic door lock which has a button. Once pressed it stays open for about 2 seconds and then goes back to the locked state.

[2021-12-25 14:11] romoloman commented on #59
The switch component has a method called setState
bool HASwitch::setState(bool state, bool force)
You need to use it when resetting the switch locally.

[2021-12-27 09:16] leonardpitzu commented on #59
Thank you!

[2022-01-22 17:00] arievanoosten opened #64 "Lost connection after restart"
after a power failure of the arduino, the connection no longer works.  What could this be?  I'm using HA on a raspberry pi4

[2022-01-23 10:44] MichaelBitard opened #65 "Incompatible with Wifi101?"
I won an MKR1000 a while ago and I wanted to use it to hack my somfy covers with it (somfyduino,..)

I wanted to use this library but I'm not sure it's compatible with Wifi101.

For example, with this (taken from https://github.com/dawidchyrzynski/arduino-home-assistant/blob/main/examples/nano33iot/nano33iot.ino):

[code]

If I try to compile it:
* `arduino-cli core install arduino:samd` --> insta

[2022-02-02 23:12] tom2199 opened #68 "Know which HACover triggered a callback"
Hello, firstly thanks a ton for this library!
I have 8 covers within my sketch, and I want them all to point to the same callback because I want to avoid writing the same function 8 times. With HASwitch, a pointer to the instance which called the callback is provided (as discussed here: https://github.com/dawidchyrzynski/arduino-home-assistant/issues/48) but it seems that's not the case with HACov

[2022-02-10 09:22] sgurgul opened #70 "MQTT LWT behaviour after HA restart"
The LWT feature works great (marks sensors as Unavailable) but only until HA is restarted.
With HA restart (Arduino device remaining OFF) sensors are immediately available again with their last known value measured before Arduino was shutdown.

Is it an expected behaviour ?

My feeling was like it should remain unavailable after HA restart, as long as Arduino is OFF. Is there any way to achieve it

[2022-02-25 16:14] Friend-Or-F0H opened #75 "HAMqtt.h error - Client does not name a type"
Arduino: 1.8.19 (Windows Store 1.8.57.0) (Windows 10), Board: "Arduino NANO 33 IoT"

Header lines used:

#include <ArduinoBLE.h>
#include <WiFiNINA.h>
#include <ArduinoHA.h>
#include <OneWire.h>

#define LED_PIN                  13
#define BROKER_ADDR       IPAddress(192,168,0,17)
#define WIFI_SSID               "$myNetworkSSID"
#define WIFI_PASSWORD   "$myNetworkPASS"

WiFiClient client;
HADevice

[2022-02-26 11:17] roomme13 opened #76 "Deep Sleep Implementation"
Hi,
how to use this library with deep sleep?
i tried to remove ticker function to setup or remove it completely nether of them is working properly.
if i remove, it never connect to mqtt broker.
if i move it to setup, no update on topic

[2022-03-07 08:05] mrunmaydarpan opened #77 "Code blocks when home assistant is disconnected"

[2022-03-21 22:08] netmindz opened #79 "HASensor vs HABinarySensor - only on state change"
Is there a reason why HABinarySensor only send MQTT messages when the value changes, but this very useful feature is missing from HASensor?

[2022-04-05 05:23] Omnipius commented on #75
I am experiencing an identical error using an Arduino Uno WiFi Rev2.

[2022-04-10 09:00] sushukka commented on #75
With Nano 33 IoT downgrade your Arduino SAM board libraries to 18. Same with WifiNINA software libraries -> 18.1.

[2022-06-04 11:56] dawidchyrzynski commented on #40
This feature/fix will be implemented as part of the new major release - see #81

[2022-06-04 11:56] #40 closed

[2022-06-04 11:56] dawidchyrzynski commented on #10
This feature/fix will be implemented as part of the new major release - see #81

[2022-06-04 11:56] #10 closed

[2022-06-04 11:57] dawidchyrzynski commented on #44
This feature/fix will be implemented as part of the new major release - see #81

[2022-06-04 11:57] #44 closed

[2022-06-04 11:57] dawidchyrzynski commented on #56
This feature/fix will be implemented as part of the new major release - see #81

[2022-06-04 11:57] #56 closed

[2022-06-04 11:57] #59 closed

[2022-06-04 11:57] dawidchyrzynski commented on #68
This feature/fix will be implemented as part of the new major release - see #81

[2022-06-04 11:57] #68 closed

[2022-06-04 11:58] #46 closed

[2022-06-04 11:58] dawidchyrzynski commented on #42
This feature/fix will be implemented as part of the new major release - see #81

[2022-06-04 11:58] #42 closed

[2022-06-04 11:59] dawidchyrzynski commented on #79
This feature/fix will be implemented as part of the new major release - see #81

[2022-06-04 11:59] #79 closed

[2022-06-04 11:59] dawidchyrzynski commented on #75
This feature/fix will be implemented as part of the new major release - see #81

[2022-06-04 11:59] #75 closed

[2022-06-04 20:00] dawidchyrzynski commented on #70
This feature/fix will be implemented as part of the new major release - see #81

[2022-06-04 20:00] #70 closed

[2022-06-04 20:09] dawidchyrzynski commented on #77
Hi @mrunmaydarpan,

Can you provide more details? Which board do you use?

[2022-06-05 03:06] mrunmaydarpan commented on #77
I was using esp12e

[2022-06-14 19:26] bogdan2000 opened #82 "Not compiling"
On Arduino IDE 2.0.0.-rc3 when compiling on Nano 33 IOT your examples I get:

" In file included from C:\Users\Lenovo Yoga\Documents\Arduino\libraries\home-assistant-integration\src\device-types\HAFan.cpp:4:0:
c:\users\lenovo yoga\documents\arduino\libraries\home-assistant-integration\src\hamqtt.h:23:18: error: expected ')' before '&' token
     HAMqtt(Client& netClient, HADevice& device);

[2022-06-14 19:28] dawidchyrzynski commented on #82
Hi @bogdan2000,

Please provide source code and information about platform you use (Arduino Uno / ESP / etc.).

[2022-06-14 19:43] bogdan2000 commented on #82
It's your example for Nano 33 IoT but it's verified under Arduino IDE 2.0.0.-rc3

#include <WiFiNINA.h>
#include <ArduinoHA.h>

#define LED_PIN         9
#define BROKER_ADDR     IPAddress(192,168,0,17)
#define WIFI_SSID       "MyNetwork"
#define WIFI_PASSWORD   "MyPassword"

WiFiClient client;
HADevice device;
HAMqtt mqtt(client, device);
HASwitch led("led", false); // "led" is unique ID of the sw

[2022-06-17 02:17] joeyjojo747 opened #83 "Sensor not updating"
I am testing the basic temp sensor example.
The device and sensor is registering with home assistant.
The sensor gets the first update from the loop but doesn't get any others.
Ive tried all types of sensors and the outcome is the same.
Any ideas?

void loop() {
  mqtt.loop();

        if ((millis() - lastSentAt) >= 5000) {
        lastSentAt = millis();
        lastValue = lastValue + 0.5;

[2022-06-18 06:58] #83 closed

[2022-06-18 06:59] joeyjojo747 commented on #83
Looks like a duplicate IP issue on home network.

[2022-06-20 10:55] jbcorreia72 opened #84 "Temperature sensor"
I am trying to go through the Temperature Sensor example, and a couple of questions came to my mind.I am sorry if these questions seem very basic or even folish, but I am not a professional programmer. Just trying to figer out the library in order to integrate an ESP32 located in a different WiFi network than the one where I have HA running.

1.) I was expecting to read the values of a temperature

[2022-06-27 08:19] proasnet opened #86 "Arduino cycle restart - limit of values?"
Hello, I made some projects with this library. All working fine, but the last project has more values, and library restarting cpu in cycle.
I try comment all library codes and other working.
Now, in project is 25 analog sensors and 7 binary sensors.
Have you any idea, where may be a problem?
Thank you very much

[2022-07-03 16:46] dawidchyrzynski commented on #86
Hi @proasnet,

It sounds like you're hitting the resources limit (RAM). Which platform do you use?

[2022-07-03 19:47] proasnet commented on #86
Hello. I found problem. Some values was declared as byte or unsigned long
int. I found, that your library does not support this types, only int,
float or bool.
This restarts the arduino.
Long int I must declare as float and byte as int and work fine.
Thank you.

Dne ne 3. 7. 2022 18:46 uživatel Dawid Chyrzyński ***@***.***>
napsal:

[2022-07-12 15:02] zorrobyte opened #87 "Wireless generator control use case"
Howdy!

I plan on writing a sketch to auto start/stop a Cummins Onan generator. I will need to write the logic manually and control it with relays. I plan on PR'ing my example once working

The unsolved use case I need to figure out would be some sort of heartbeat. I plan on subscribing to an MQTT RUN and STOP state from Node-Red/Home Assistant node. The issue is that I need to monitor on the Ardu

[2022-07-16 20:36] #86 closed

[2022-07-16 22:28] shall0pass commented on #82
I get the same errors trying to compile the example.

[2022-07-17 17:09] bogdan2000 commented on #82
In src/HAMqtt.h file I modified

 HAMqtt(Client& netClient, HADevice& device);
to
HAMqtt(arduino::Client& netClient, HADevice& device);
and
Client& _netClient;
to
arduino::Client& _netClient;

Tell me if it works.

[2022-08-08 20:27] stevetemple commented on #82
That change works for me also, clashing namespace?

[2022-08-09 02:02] daniloc opened #89 "Request: Multi-mode switch"
Hello! Thanks for a great project.

I am integrating a Mitsubishi Heat Pump into Home Assistant, via IR signaling, and this project has made for a great start.

I've had success by composing multiple device types so far (`HAHVAC` and `HASensor`). But one primitive does not seem to exist in this library:

A multi-mode switch.

In the case of the Heat Pump, this would support things like:

- Fan Mod

[2022-08-09 15:51] daniloc commented on #89
Digging deeper, it seems that there's built in support in both Home Assistant's [Climate integration](https://www.home-assistant.io/integrations/climate/#service-climateset_fan_mode), and in MQTT's [Climate implementation](https://www.home-assistant.io/integrations/climate.mqtt/), for both fan mode and swing mode.

So perhaps these enhancements would better target this library's HVAC implementatio

[2022-08-13 04:17] daniloc opened #90 "Unique entity names per device"
Hello again.

I'm working on a project where multiple devices will be deployed with identical configurations.

Right now, there's a good strategy shared in the examples for making the top-level device itself unique, based on the MAC address. How would you recommend uniquing the individual components? Currently the entities generated in Home Assistant don't have ID's that map to the parent device:

[2022-08-13 05:00] daniloc commented on #90
Ah, disregard: digging into the MQTT logging I see this behavior is already implemented and HA figures out the entity ID's independently. Great stuff!

[2022-08-13 05:00] #90 closed

[2022-08-20 20:35] dawidchyrzynski commented on #89
Hi @daniloc,

I will research this feature and eventually implement it as part of the coming release - https://github.com/dawidchyrzynski/arduino-home-assistant/pull/81

[2022-09-05 22:07] dawidchyrzynski commented on #65
#82

[2022-09-05 22:07] #65 closed

[2022-09-05 22:07] dawidchyrzynski commented on #82
This issue will be fixed as part of the #81

[2022-09-05 22:07] #82 closed

[2022-09-14 08:52] CoyoteProd opened #95 "SonOff consumption data"
More a question than an issue :

It is possible to get SonOff consumption data and push it to MQTT Broker for to be used in Home Assistant ?

Thanks a lot
Vil

P.S : feel free to close if not appropriate...

[2022-09-14 08:55] CoyoteProd commented on #95
sorry, will use disscussions

[2022-09-29 16:07] MingyaoLiu opened #99 "MQTT.isConnected() always return false"
Hi,
I'm just wondering if this is a singular case for me, but I check mqtt.isConnected in loop before calling mqtt.loop(), and isConnected always returns false.

I'm on arduino-pico with a pico w. If I don't check isConnected, mqtt works fine, but if there is any issue with my internet, mqtt.loop will crash the pico.

[2022-09-29 19:02] MingyaoLiu commented on #99
I have figured out a workaround.

What happened is if MQTT.loop is not called at least once, MQTT.isConnected will always fail. Not sure if this is a bug or desired behaviour, but workaround is just to call mqtt.loop once in setup.

[2022-09-29 20:09] MingyaoLiu commented on #99
A simple workaround example:

[code]

[2022-09-30 13:39] duckati opened #100 "expected ')' before '&' token"
I get this error simply by checking the "nano33iot" example.
I checked with both Arduino Create and Arduino IDE 1.8.19.
Following the log:

Arduino: 1.8.19 (Windows 10), Board: "Arduino NANO 33 IoT"

In file included from C: \ Arduino \ libraries \ home-assistant-integration \ src \ device-types \ HASwitch.cpp: 5: 0:

c: \ arduino \ libraries \ home-assistant-integration \ src \ hamqtt.h: 23: 18:

[2022-09-30 14:03] dawidchyrzynski commented on #100
https://github.com/dawidchyrzynski/arduino-home-assistant/issues/82

[2022-09-30 14:03] #100 closed

[2022-09-30 14:04] dawidchyrzynski commented on #99
Hi @MingyaoLiu,

That's correct behaviour. The `mqtt.begin(...)` schedules asynchronous connection. The connection attempt is performed during the first loop cycle.

[2022-09-30 14:04] #99 closed

[2022-10-01 12:24] corvin78 opened #101 "Request: RemoteReceiver"
Hi,

At first, thank You for great project!

I am trying to use infrared and rf (315MHz) remote controllers with my homemade relay controller. Thanks to your library I can flip relays from HA as well. I did implement remote controll of my relays with Arduino-IRremote library and it works perfectly fine for flipping relays, but I would really like to get the remote controll presses back to HA for a

[2022-10-03 19:12] Elektrik1 opened #103 "Dynamic entries creation?"
Hey there,
I am interested whether it is possible to create entries (particularly HASwitch) dynamically - in loop().
Tried to initiate HASwitch class in loop - no errors appear, but no data to MQTT and HA is sent.
Is there any option to add entries dynamically on the fly?

[2022-10-04 07:55] dawidchyrzynski commented on #103
Hi @Elektrik1,

Can you provide more details about your use case? Theoretically, it should be possible if the entity remains in the memory for a lifetime.

[2022-10-04 07:58] dawidchyrzynski commented on #101
Hi @corvin78,

The main and only purpose of this library is to provide an easy-to-use wrapper for MQTT communication. I can implement an example with an IR controller as part of the coming release (#81).

[2022-10-04 12:17] corvin78 commented on #101
Hi,

Thank you, simple example would be great help!

Regards,

[2022-10-05 15:20] Elektrik1 commented on #103
Assume we have such program:
[code]

It works fine if I declare HASwitch in setup(), before mqtt.begin, however if I create HASwitch instance within the loop() dynamically - it does not appear in HA and no errors are produced. The problem is HASwitch count changes during the loops (it is configurable externally), therefore I ask if there is a possibility to create HASwitch instances on the fly.

[2022-10-05 17:04] Elektrik1 commented on #103
It works! Thank you very much, that is exactly what I tried to do.

[2022-10-07 15:11] dawidchyrzynski commented on #89
Hi @daniloc,

The new HAHVAC implementation is already available on the `serializer-refactor` branch. Feel free to give it a go.

[2022-10-09 11:21] #64 closed

[2022-10-14 17:08] #89 closed

[2022-10-14 17:13] dawidchyrzynski commented on #87
Hi @zorrobyte,

There is a new version of the library released. Maybe you will find something useful for your use case in the documentation: https://dawidchyrzynski.github.io/arduino-home-assistant/

[2022-10-14 17:13] #87 closed

[2022-10-16 11:51] MarCiu11 opened #104 "Light RGBW?"
Good job!!!
There is a chance for RGBW light? This option is missing for the full functionality of the lamp.

[2022-10-18 11:21] dawidchyrzynski commented on #104
Hi @MarCiu11,

Sure, I will add this feature soon.

[2022-10-20 21:56] Enlumis opened #105 "2.0.0 discovery issue"
Hello,
since i updated my code to 2.0.0 i got discovery issue,
even using MQTT Explorer i cannot see the complete list of topics
i only see the first topic here is some code

[code]

basically the issue is that i only see one discovered topic "NSWITCH_1_1"
thats it. other are ignored gone

i also got an issue with HACover now, i cannot setPosition even using your new second parameter flag to force

[2022-10-21 13:11] dawidchyrzynski commented on #105
Hi @Enlumis,

How many switches are you trying to register in your real code? I tested the lib with 5 switches and it works fine.

HACover was refactored and the position feature is disabled by default. You need to enable it using the second argument of the HACover's constructor as follows: `HACover cover("myCover", HACover::PositionFeature);`

[2022-10-21 13:29] Enlumis commented on #105
Hi @dawidchyrzynski
i got 18switches registered, i confirm rolling back to 1.3.0 fixed it
thanks for the cover ill try that
i also find out a HA fix for RTS covers
_configuration.yaml_
[code]

[2022-10-21 14:29] dawidchyrzynski commented on #105
@Enlumis Please take a look at the documentation: https://dawidchyrzynski.github.io/arduino-home-assistant/documents/library/device-types.html

There is a default limit of 6 device types that can be registered at once. Please set it to 20 and check if it works. One more question. What platform do you use (Arduino Mega, ESP, etc.)?

[2022-10-21 14:52] Enlumis commented on #105
Thanks ill try that later,
I use Arduino Mega 2560

[2022-10-26 19:33] Elektrik1 commented on #103
I am reopening this, because I think it is related.
There is a problem, that if I create HADevice at runtime dynamically (after mqtt is connected), there is no way to force config publish (`publishConfig()` in base in protected), therefore I found no way to signal the HA about new device, and the callback is not received by `onCommand()`. I think it should be exposed the same way as `setAvailabili

[2022-10-29 22:41] antoniomolram opened #106 "It is possible to create a multi device system?"
Hi! First of all, thank you for your amazing library!

I have your library working with multiple sensors (HABinarySensor, HASensorNumber) and I would like to use it as a mean to create on HA multiple devices. (I am creating a kind of a wireless hub). After checking your code, means a relative big rework, isn't it?

Thank you for your help and comments.
Regards,
Antonio

[2022-10-30 12:21] dawidchyrzynski commented on #106
Hi @antoniomolram,

There is no way to configure multiple device entities on the same physical device. Can you provide more details about your use case?

[2022-10-30 12:22] dawidchyrzynski commented on #105
@Enlumis any update?

[2022-10-30 16:22] antoniomolram commented on #106
I have several lora devices reporting data, and I was thinking to have kind of a "gateway" converting all these lora devices HA in devices using your library. I have for the moment one, but I would love to have multiple HA devices created out of a single device.

Do you think that this make sense?

[2022-11-04 17:04] #105 closed

[2022-11-18 09:09] rikki78 commented on #106
Have a look at Mysensors, that is exactly doing this.

[2022-11-18 09:17] rikki78 opened #110 "Sensors divided over source files"
Hi,
First of all thanks for your great library. This is really useful for integrating remote sensors into Home Assistant.
In my case I have made one sketch that can be configured to use different sensors. So based on a config file for example temperature sensors or binary switches are defined which all use the same code. To make it readable I have spread the code over different files, where the te

[2022-11-18 09:27] antoniomolram commented on #106
thank you! I will take a look to it! ;)

[2022-11-19 05:51] rikki78 commented on #103
Hi,
When dynamically creating these sensors and naming it, the name given needs to remain available for the library. So when using the same buffer (for example to create more sensors at a time and naming them), all sensors will get the same name. Is there a way to make the library copy the name so the application can make dynamic names?

[2022-11-20 07:31] ssditt opened #112 "Multiple sensors @ESP32"
All my recent projects work fine with UNO or ESP8266. Thanks Dawid!
Today, I need 6 sensors @ESP32:
----------------------------------------------------------------
#include <ArduinoHA.h>
#include <WiFi.h>

#define BROKER_ADDR   "192.168.1.10"
#define MAC_ADDR_LENGTH 6

byte mac[] = "NAMFV1";
const char *unitName = "NAMFV1";
const char *unitVersion = "A1";
char WiFi_SSID [] = "ssid";
char WiFi_pas

[2022-11-20 09:12] rikki78 commented on #112
https://dawidchyrzynski.github.io/arduino-home-assistant/documents/library/device-types.html
By default the number of devices is 6. Did you try setting it?

[2022-11-20 09:47] ssditt commented on #112
I have got all 6 sensors in MQTT with the line
    HAMqtt mqtt(client, device,8);

Any idea what's wrong with prefix "aha" in stat_t context? It is still there with all sensors...

[2022-11-20 10:14] ssditt commented on #112
rikki78, thanks for the link!
I have found the "aha" is a default prefix for data (stat_t) context. It is a new against older versions.

So the conclusion is that despite defualt limit 6 devices the program registers 5 devices only.

[2022-11-20 10:14] #112 closed

[2022-11-20 18:29] dawidchyrzynski commented on #112
Hi @ssditt,

The `aha` prefix is a configurable data prefix. It's described here: https://dawidchyrzynski.github.io/arduino-home-assistant/documents/library/discovery.html

If it comes to limit, there is a known bug in the entities limiter that will be fixed soon. For now please use a limit higher by one (in your case it should be `7`).

[2022-11-22 11:29] rozrabiak opened #113 "Not all elements shows in HomeAssistant"
Not all defined components shows in HA. When I change order of elements then firsts elements shows but last not..
Wemos D1 mini.
How to solve this?

![Zrzut ekranu 2022-11-22 122758](https://user-images.githubusercontent.com/73905882/203303137-0c764ee3-eefc-4435-a467-19d05ea509ca.jpg)

In code I have:

[code]

[2022-11-22 11:32] dawidchyrzynski commented on #113
Hi @rozrabiak,

There is a default limit of types that can be registered. Please take a look at the documentation: https://dawidchyrzynski.github.io/arduino-home-assistant/documents/library/device-types.html

In your case, you should set the limit to `11`.

[2022-11-22 11:32] #113 closed

[2022-11-23 10:51] aavanzyl opened #114 "Light Transition"
Hi, love the project, thank you for all the hard work.

I want to have the ability to specify the transition time for a Light entity. Do you have plans on adding this in the near future?
My usecase is basically for my aquarium, I try to simulate the sun going down so I slowly transition between the colors (basically an hour) to ensure a close environment for my planted tank.

If you have no plans

[2022-11-26 10:56] PM04290 opened #115 "Reconnect every 5 seconds"
I hadn't paid attention at the beginning of the use, but by putting Serial.print in OnConnect I realized that there was a reconection every 5 seconds.
it doesn't do it consistently; after a publish reception there is no reconnection for about 30s, then it resumes, there is again a reconnection every 5s.
it's PubsubClient that returns MQTT_CONNECTION_LOST (-3) but I couldn't determine why.

i have